* {
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-color: #141313;
    display: grid;
    height: 100vh;
    margin: 0;
    place-content: center;
}
.calculator {
    aspect-ratio: 9/16;
    background-color: black;
    height: 85vh;
    border-radius: 1em;
    filter: drop-shadow(0 0 0.75rem orange);
    display: grid;
    grid-template-rows: 1fr 2.5fr;
    gap: 1em;
    max-width: 23em;
}
.display {
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 0.5em;
    padding: 1em;
}
.calculation {
    color: #484747;
    display: grid;
    place-content: end;
    font-weight: bolder;
}
.result {
    color: #fff;
    display: grid;
    place-content: end;
    font-size: 5em;
    white-space: nowrap;
    overflow: hidden;
}
.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    padding: 1em;
}
.buttons > div {
    border-radius: 50%;
    display: grid;
    place-content: center;
    font-size: 2em;
    cursor: pointer;
}
.buttons > div:empty {
    cursor: auto;
}
.buttons > div:not(:empty):hover {
    filter:grayscale(1) brightness(2);
}
.gray {
    background-color: gray;
    color: black;
}
.gray.clicked {
    animation: gcolor .3s ease;
}
.orange {
    background-color: orange;
    color: #fff;
    transition: .5s ease;
}
.orange:hover {
    color: black;
}
.orange.clicked {
    background-color: #fff;
    color: orange;
}
.black {
    background-color: rgb(43, 41, 41);
    color: #fff;
}
.black.clicked {
    animation: bcolor .3s ease;
}

/* Animations */
@keyframes gcolor {
    from {
        background-color: gray;
        color: black;
    }
    to {
        background-color: #fff;
        color: black;
    }
}
@keyframes bcolor {
    from {
        background-color: rgb(43, 41, 41);
    }
    to {
        background-color: gray;
    }
}
